div {
  align-items: center;
}
.container {
    text-align: center;
    margin-top: 50px;  
}

#grid {
    font-size: 30px; 
    margin-bottom: 20px;
}

#share-popup {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center; 
}

#share-popup button { 
  display: inline-block; 
  margin: 0 5px; 
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 0.01fr); 
  grid-template-rows: repeat(5, 1fr); 
  gap: 0px; /* Optional spacing between squares */
  justify-content: center; /* Center grid horizontally */
  width: fit-content;
  outline: 2px solid #000; 
  margin: 0 auto;
}

.square {
  background-color: #4D4D4D; /* Default to black */
  width: 35px; /* Adjust square size as needed */
  height: 35px; 
  box-sizing: border-box; 
}

body {
background-color: #a9927d;   
font: normal Helvetica, sans-serif;
text-align: center;
letter-spacing: 0.06em;
margin: 0
}
